inst/extdata/mzml/chludwig_K150309_012_SW_1_1.chrom.mzML filter=lfs diff=lfs merge=lfs -text
inst/extdata/mzml/chludwig_K150309_011_SW_1_1point5.chrom.mzML filter=lfs diff=lfs merge=lfs -text
inst/extdata/mzml/chludwig_K150309_010_SW_1_2.chrom.mzML filter=lfs diff=lfs merge=lfs -text
